<div id="<%= dom_id friend %>">
  <thead>
      <tr>
      <td>
        <strong>First name:lkjjlk;</strong>
        <%= friend.first_name %>
      </td>

      <td>
        <strong>Last name:</strong>
        <%= friend.last_name %>
      </td>

      <td>
        <strong>Email:</strong>
        <%= friend.email %>
      </td>

      <td>
        <strong>Phone:</strong>
        <%= friend.phone %>
      </td>

      <td>
        <strong>Twitter:</strong>
        <%= friend.twitter %>
      </td>
    </tr>
  </thead>
</div>